<%= form_with(model: consultation) do |form| %>
  <% if consultation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(consultation.errors.count, "error") %> prohibited this consultation from being saved:</h2>

      <ul>
        <% consultation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :psychologist_id, style: "display: block" %>
    <%= form.text_field :psychologist_id %>
  </div>

  <div>
    <%= form.label :scheduled_at, style: "display: block" %>
    <%= form.datetime_field :scheduled_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
