<p style="color: green"><%= notice %></p>

<p style="color: green">
  <%= notice %>
</p>

<div class="container text-center">
  <%= render @post %>
    <div class="row justify-content-center">
      <div class="col-6 mb-5">
        <div class="d-grid col-6 mx-auto">
          <%= link_to "Back to posts" , posts_path, class: "btn btn-primary btn-block" , type: "button" %>
        </div>
      </div>
    </div>
</div>





  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
