<!DOCTYPE html>
<html>

  <head>
    <title>MVC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>

      <%= csp_meta_tag %>

        <%= stylesheet_link_tag "application" %>
          <%= stylesheet_link_tag 'trix' %>

            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
              crossorigin="anonymous">
            <!-- include libraries(jQuery, bootstrap) -->
            <script type="text/javascript" src="//code.jquery.com/jquery-3.6.0.min.js"></script>
            <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />
            <script type="text/javascript"
              src="cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

            <!-- include summernote css/js-->
            <link href="summernote-bs5.css" rel="stylesheet">
            <script src="summernote-bs5.js"></script>
            <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="path/to/css/bootstrap.min.css">
            <script src="path/to/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdbootstrap@4.19.1/css/mdb.min.css" />




  </head>

  <body>
    <div data-bs-theme="light">
      <div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand">MemoLife</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <%= link_to "Home" , root_path, class: "nav-link active" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Find Friends" , friends_index_path, class: "nav-link active" %>
                </li>
                <li class="nav-item">
                  <%= link_to "My Friends" , show_friends_path, class: "nav-link active" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Schedule" , schedule_path, class: "nav-link active" %>
                </li>
              </ul>
              <div class="col-2">
                <% if user_signed_in? %>
                  <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      Profile
                    </a>
                    <ul class="dropdown-menu text-center mx-auto">
                      <li>
                        <%= link_to "Edit Profile" , edit_user_registration_path, class:"dropdown-item" %>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li>
                        <%= button_to "Logout" , destroy_user_session_path, method: :delete, class:"dropdown-item" %>
                    </ul>
                  </div>
                  <% else %>
                    <%= button_to "Log In" , new_user_session_path, class: "btn btn-primary" %>
                      <% end %>
              </div>

            </div>
          </div>
      </div>
      </nav>

      <%= yield %>
    </div>
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted footer">
      <!-- Section: Social media -->
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
          <span>Get connected with us:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
          <!-- Facebook -->
          <!-- Right -->
          <div>
            <!-- Facebook -->
            <a href="#" class="me-4 text-reset">
              <i class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a href="#" class="me-4 text-reset">
              <i class="fab fa-twitter"></i>
            </a>

            <!-- Google -->
            <a href="#" class="me-4 text-reset">
              <i class="fab fa-google"></i>
            </a>

            <!-- Instagram -->
            <a href="#" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
            </a>

            <!-- Linkedin -->
            <a href="#" class="me-4 text-reset">
              <i class="fab fa-linkedin-in"></i>
            </a>

            <!-- Pinterest -->
            <a href="#" class="me-4 text-reset">
              <i class="fab fa-pinterest"></i>
            </a>

            <!-- Vkontakte -->
            <a href="#" class="me-4 text-reset">
              <i class="fab fa-vk"></i>
            </a>

            <!-- Stack overflow -->
            <a href="#" class="me-4 text-reset">
              <i class="fab fa-stack-overflow"></i>
            </a>

            <!-- Youtube -->
            <a href="#" class="me-4 text-reset">
              <i class="fab fa-youtube"></i>
            </a>

            <!-- Slack -->
            <a href="#" class="me-4 text-reset">
              <i class="fab fa-slack-hash"></i>
            </a>

            <!-- Github -->
            <a href="#" class="me-4 text-reset">
              <i class="fab fa-github"></i>
            </a>

            <!-- Dribbble -->
            <a href="#" class="me-4 text-reset">
              <i class="fab fa-dribbble"></i>
            </a>

          </div>
          <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>MemoLife
              </h6>
              <p>
                Here, at MemoLife, we believe that everyone has a story to tell. We want to help you tell yours.
                We want to help you tell your story in a way that you can look back on and remember.
              </p>
            </div>

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p><i class="fas fa-home me-3"></i> Got any questions? Email us!
              </p>
              <p>
                <i class="fas fa-envelope me-3"></i>
                MemoLife@gmail.com
              </p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </body>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <%= stylesheet_link_tag 'trix' %>


    <%= javascript_importmap_tags %>

</html>
